.contact {
  display: flex;
  flex-wrap: wrap;

  .contact-left {
    width: 50%;
    padding: 70px 50px;

    #contact {
      //background: #F9F9F9;
      padding: 25px;
      border-radius: 8px;

      //box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
      h2 {
        font-weight: 600;
        color: $dark-olive-green;
        text-align: center;
        text-transform: capitalize;
        font-size: 42px;
        margin: 10px 0 10px;
      }

      p {
        color: gray;
        text-align: center;
        margin: 0 0 60px;
      }
  
      
      fieldset {
        //border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
      }
  
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="url"],
      textarea {
        width: 100%;
        border: 1px solid #ccc;
        background: #FFF;
        margin: 0 0 5px;
        padding: 15px;
      }
  
      
      input[type="text"]:hover,
      input[type="email"]:hover,
      input[type="tel"]:hover,
      input[type="url"]:hover,
      textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        //border: 1px solid #aaa;
        
      }
  
      textarea {
        height: 100px;
        max-width: 100%;
        resize: none;
      }
  
      button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: $liver-dogs;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px 40px;
        font-size: 15px;
        display: block;
      }
  
      button[type="submit"]:hover {
        background: $fawn;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
      }
  
      button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      }
  
        input:focus,
      textarea:focus {
        outline: 0;
        border: 1px solid #aaa;
      }
  
      ::-webkit-input-placeholder {
        color: #888;
      }
  
      :-moz-placeholder {
        color: #888;
      }
  
      ::-moz-placeholder {
        color: #888;
      }
  
      :-ms-input-placeholder {
        color: #888;
        ;
      }
  
    }
  }
  
  .contact-right {
    width: 50%;
    
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width:750px){
  .contact {
    flex-direction: column;

    .contact-left {
      width: 100%;
    }
    .contact-right{
      width: 100%;
    }
  }
}