.section-preco{
	padding: 100px 0 90px;
	
    h2 {
        font-weight: 600;
        font-size: 42px;
        color: $dark-olive-green;
        text-align: center;
        text-transform: capitalize;
        padding: 20px 0;

    }

    p {
        text-align: center;
    }

    .preco {
        display: flex;
	    flex-wrap: wrap;
	    align-items: flex-end;

        .preco-item {
            flex: 1 1 260px;
            background-color: whitesmoke;
            padding: 10px;
            margin: 60px 10px 20px;

            h2 {
                font-size: 1.5em;
                color: #a4a4a4;
                text-align: center;
                margin-top: 20px; 
            }

            span {
                max-width: 300px;
                margin: 20px auto;
                display: block;
                font-size: 2.5em;
                text-align: center;
                font-weight: bold;
                //padding: 10px 0 5px 0;

                &::after {
                    content: '';
                    display: block;
                    margin: 10px auto 20px;
                    width: 300px;
                    height: 0.5px;
                    background-color: whitesmoke;
                }
            }

            sup {
                font-size: 1.5rem;
            }

            ul {
                max-width: 300px;
                margin: 20px auto;
                font-size: 1em;
                color: #7c7c7c;
            }

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                &::after {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    background: $fawn;
                    border-radius: 50%;
                }
            }
            
            a {
                //max-width: 300px;
                display: block;
                margin: 40px;
                //border: 4px solid $liver-dogs;
                //border-radius: 8px;
                background-color: #000;
                color: #fff;
                text-transform: capitalize;
                text-align: center;
                //font-weight: bold;
                font-size: 18px;
                padding: 10px 0px;
                transition: all 0.3s ease;

                &:hover{
                    background-color: $fawn;
                }
            }

        }

        .preco-item:nth-child(2){
            background-color: $dark-olive-green;
            color: whitesmoke;

            h2,ul {
                color: #fff;
            }
            
            a {
                background-color: #fff;
                color: #000;
            }
        }

    }
}

@media (max-width: 800px) {
	.section-preco {
		padding-left: 10px;
		padding-right: 10px;

        .preco-item:nth-child(3) {
            order: -2;
        }

        .preco .preco-item:nth-child(2) {
            order: -1;
        }

	}
}