@import 'reset';
@import 'colors';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

@import 'nav';
@import 'sobre';
@import 'gallery';
@import 'price';
@import 'parcerias';
@import 'contacto';
@import 'footer';




